<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @book.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @book.comment %>
</p>

<!--home.html画面に戻る--!>
<%= link_to 'Back to Home', toppages_home_path %>
